@tailwind base;
@tailwind components;
@tailwind utilities;

body,html{
    height: 100%;
    width: 100%;
}
*{
    box-sizing: border-box;
}

#light{
    transition: linear;
    transition-duration: 500ms;
}


#dark{
    background-color: #263238;
    color: white;
    transition: linear;
    transition-duration: 500ms;
}

#dark .client-section svg path{
    fill: white;
}

#dark .members svg path{
    fill: white;
}

#dark .member-box{
    box-shadow: 0 4px 6px -1px rgb(212, 212, 212), 0 2px 4px -2px rgb(255, 255, 255)
}

#dark .customer svg path{
    fill: white;
}

#dark .community .mini-box{
    background-color: #38444a;
}